CREATE USER @DAVICAL_DBA_USER@ with PASSWORD '@DAVICAL_DBA_PASSWORD@';
CREATE USER @DAVICAL_APP_USER@ with PASSWORD '@DAVICAL_APP_PASSWORD@';
CREATE DATABASE @DAVICAL_DB_NAME@ WITH OWNER @DAVICAL_DBA_USER@;
